
@using System.Text.Json
@using Microsoft.AspNetCore.Http
@using isteksikayet.webui.Identity
@inject IHttpContextAccessor Accessor

@{
    var user = new User { };
    if(TempData["User"] != null)
    {
        user =  JsonSerializer.Deserialize<User>(TempData["User"] as string);
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Dashboard</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="~/root/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bootstrap 4 -->
  <link rel="stylesheet" href="~/root/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="~/root/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- JQVMap -->
  <link rel="stylesheet" href="~/root/plugins/jqvmap/jqvmap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="~/root/dist/css/adminlte.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
  
 
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="~/root/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="~/root/plugins/daterangepicker/daterangepicker.css">
  <!-- summernote -->
  <link rel="stylesheet" href="~/root/plugins/summernote/summernote-bs4.min.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="~/root/dist/img/Betizm-Sikayet.png" alt="AdminLTELogo" height="60" width="60">
  </div>

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="index3.html" class="nav-link">Anasayfa</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">İletişim</a>
      </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Navbar Search -->
      <li class="nav-item">
        <a class="nav-link" data-widget="navbar-search" href="#" role="button">
          <i class="fas fa-search"></i>
        </a>
        <div class="navbar-search-block">
          <form class="form-inline">
            <div class="input-group input-group-sm">
              <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                  <i class="fas fa-search"></i>
                </button>
                <button class="btn btn-navbar" type="button" data-widget="navbar-search">
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </div>
          </form>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-controller="Account" asp-action="LogOut">
          Log Out
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-light-pink elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="~/root/dist/img/Betizm-Sikayet.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Destek Talep</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      @await Component.InvokeAsync("SideBar")



      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class-->
                        @if(User.IsInRole("Admin") || User.IsInRole("Personel")){
                            <li class="nav-item">
                                <a asp-controller="Root" asp-action="index" class="nav-link">
                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                    <p>
                                        Anasayfa
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
            <a asp-controller="Home" asp-action="index" class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Anasayfa
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
           </li>
                        }

           @if(User.IsInRole("Admin") || User.IsInRole("Personel")){
          <li class="nav-item">
            <a class="nav-link">
              <i class="nav-icon fa-solid fa-code-merge"></i>
              <p>
                Departman İşlemleri
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: block;">
              @if(User.IsInRole("Admin") || user.Active == true){
                  <li class="nav-item">
                <a asp-controller="Root" asp-action="DepartmantAdd"  class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Departman Ekle</p>
                </a>
              </li>
              }
              <li class="nav-item">
                <a asp-controller="root" asp-action="DepartmantList"  class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Departman Liste</p>
                </a>
              </li>
            </ul>
           </li>
           @if(User.IsInRole("Admin") || user.Active){
           <li class="nav-item">
            <a class="nav-link">
              <i class="nav-icon fa-solid fa-code-merge"></i>
              <p>
                Kurum İşlemleri
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: block;">
              <li class="nav-item">
                <a asp-controller="Root" asp-action="AddTask"  class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Yapılacak İş Ekle</p>
                </a>
              </li>
              <li class="nav-item">
                <a asp-controller="root" asp-action="ListTask"  class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>İşleri Listele</p>
                </a>
              </li>
            </ul>
           </li>}
           }
           <li class="nav-item">
            <a class="nav-link">
              <i class="nav-icon fa-solid fa-file-signature"></i>
              <p>
                Tamamlanan Şikayetler
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: block;">
              <li class="nav-item">
                <a asp-controller="Home" asp-action="ComplaintAdd"  class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Şikayet Ekle</p>
                </a>
              </li>
              <li class="nav-item">
                <a asp-controller="Home" asp-action="ComplaintList"  class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Şikayet Listele</p>
                </a>
              </li>
              <li class="nav-item">
                <a asp-controller="Home" asp-action="AprovedComplaint"  class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Onaylanan Şikayetler</p>
                </a>
              </li>
            </ul>
           </li>
           @if(User.IsInRole("Admin") || User.IsInRole("Personel")){
                            <li class="nav-item">
                                <a asp-controller="Root" asp-action="GetContact" class="nav-link">
                                    <i class="nav-icon fas fa-tachometer-alt"></i>
                                    <p>
                                        Personel Rehberi
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                            </li>
                        }
                        @if(User.IsInRole("Admin")){
                            <li class="nav-item">
            <a class="nav-link">
              <i class="nav-icon fa-solid fa-key"></i>
              <p>
                Kullanıcı İşlemleri
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: block;">
              <li class="nav-item">
                <a asp-controller="Root" asp-action="CreateUser"  class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Kullanıcı Ekle</p>
                </a>
              </li>
              <li class="nav-item">
                <a asp-controller="Root" asp-action="GetUsers"  class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Kullanıcılar</p>
                </a>
              </li>
            </ul>
           </li>
                        }
           @if(User.IsInRole("Admin")){
               <li class="nav-item">
            <a asp-controller="root" asp-action="Setting" class="nav-link">
              <i class="nav-icon fa-solid fa-screwdriver-wrench"></i>
              <p>
                Site Ayarları
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
           </li>
           <li class="nav-item">
            <a class="nav-link">
              <i class="nav-icon fa-solid fa-key"></i>
              <p>
                İzinler
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview" style="display: block;">
              <li class="nav-item">
                <a asp-controller="Root" asp-action="RoleAdd"  class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Role Ekle</p>
                </a>
              </li>
              <li class="nav-item">
                <a asp-controller="Root" asp-action="RoleList"  class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Roller Listesi</p>
                </a>
              </li>
            </ul>
           </li>
           }

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
        @if (TempData["Message"] != null)
        {
            <div class="alert alert-danger">@TempData["Message"]</div>
        }
    @RenderBody()
  <!-- /.content-wrapper -->
  <footer class="main-footer">
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="~/root/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="~/root/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<script src="~/root/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/root/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="~/root/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/root/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="~/root/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="~/root/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="~/root/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="~/root/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="~/root/plugins/jszip/jszip.min.js"></script>
<script src="~/root/plugins/pdfmake/pdfmake.min.js"></script>
<script src="~/root/plugins/pdfmake/vfs_fonts.js"></script>
<script src="~/root/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="~/root/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="~/root/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="../../dist/js/demo.js"></script>
<!-- Page specific script -->
<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
    });
  });
</script>
<!-- Bootstrap 4 -->
<script src="~/root/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- ChartJS -->
<script src="~/root/plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="~/root/plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="~/root/plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="~/root/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="~/root/plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="~/root/plugins/moment/moment.min.js"></script>
<script src="~/root/plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="~/root/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="~/root/plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="~/root/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="~/root/dist/js/adminlte.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="~/root/dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="~/root/dist/js/pages/dashboard.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/classic/ckeditor.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/34.2.0/classic/ckeditor.js"></script>
             <script>
                        ClassicEditor
                                .create( document.querySelector( '#editor' ) )
                                .then( editor => {
                                        console.log( editor );
                                } )
                                .catch( error => {
                                        console.error( error );
                                } );
                </script>
</body>
</html>
