
@model TaskDto
@{
    ViewData["Title"] = "AddTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>İş Ekle</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Anasayfa</a></li>
                        <li class="breadcrumb-item active">Şikayet </li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">İş Ekle</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form asp-controller="Root" asp-action="AddTask" enctype="multipart/form-data" method="post">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Name</label>
                                    <input asp-for="Title" class="form-control" placeholder="İş Açıklaması Giriniz" value="@Model.Title">
                                </div>
                                <div class="form-group">
                                    <label>İş Açıklaması</label>
                                    <textarea class="form-control" asp-for="Description" id="editor">@Model.Description</textarea>
                                </div>
                                <div class="form-group">
                                    <label>İş Dosyası</label>
                                    <input type="file" asp-for="File">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Departman</label>
                                    <select asp-for="DepartmentId" asp-items="@ViewBag.Departments" class="form-control"></select>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Gönder</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

