@model DepartmantAddRoot
@{
    ViewData["Title"] = "ComplaintAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Complaint Add</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a asp-controller="Root" asp-action="index">Anasayfa</a></li>
              <li class="breadcrumb-item active">Departman Ekle </li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
            <form asp-controller="Root" asp-action="DepartmantAdd" method="post" enctype="multipart/form-data">
        <div class="row">
            
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-primary">
              
              <!-- /.card-header -->
              <!-- form start -->
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Departman Adı</label>
                    <input asp-for="Department.Name" class="form-control" placeholder="Lütfen Şikayet İsmi Girin" value="@Model.Department.Id">
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                </div>
            </div>
            <!-- /.card -->
          </div>
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="card card-primary">

                        <!-- /.card-header -->
                        <!-- form start -->
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Yönetici Adı</label>
                                    
                                        @foreach (var item in Model.Users)
                                       {
                                            <input type="radio" name="RootId" value="@item.Id" class="mt-1 mb-1"><img width="50" src="~/files/@item.ImgUrl">@item.Name @item.LastName
                                        }
                                  
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Gönder</button>
                            </div>
                        
                    </div>
                    <!-- /.card -->
                </div>
        
          <!--/.col (right) -->
        </div>
        </form>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>


